h4 {
	text-align: center;
}
.signuppage {
	text-align: center;
}
.signup {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	padding: 15px 15px;
	border-radius: 15px;
	border: solid black 2px;
}

.signup:first-child {
	width: 500px;
}
